@model IEnumerable<FoodCategory>

<ul>
    @foreach (var item in Model)
    {
        <li class="@item.FoodCategoryID">
        @*    @if (item.Active)
            {
                <div class="side-menu-collapsible" style="font-size: 14px; font-weight:bold" onclick="ExpandCollapseMenu(this,'@item.FoodCategoryID')">
                    @if (item.Children.Any())
                    {
                        <i class="fa fa-caret-right"></i>
                    }
                    <a style="color: green">@Html.DisplayFor(modelItem => item.Name)</a>
                </div>
                <i id="@item.FoodCategoryID" href="javascript:void(0)" onclick="EditCall(this.id)" class="edit-btn fas fa-edit pl-2" style="font-size: 14px;"></i>
            }
            else
            {
                <div class="side-menu-collapsible" style="font-size: 14px; font-weight:bold" onclick="ExpandCollapseMenu(this,'@item.FoodCategoryID')">
                    @if (item.Children.Any())
                    {
                        <i class="fa fa-caret-right"></i>
                    }
                    <a style="color: red">@Html.DisplayFor(modelItem => item.Name)</a>
                </div>
                <i id="@item.FoodCategoryID" href="javascript:void(0)" onclick="EditCall(this.id)" class="edit-btn fas fa-edit pl-2" style="font-size: 14px;"></i>
            }*@

            @if (item.Children.Any())
            {
                @await Html.PartialAsync("_TreeViewFoodCategory", item.Children)
            }
        </li>
    }
</ul>

