@model IEnumerable<ListFoodWebApp.Models.ViewItem>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Item ID</th>

            <th scope="col">Device</th>
           

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.itemId.ToString().ToUpper().Split('-', StringSplitOptions.None)[0])
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.itemName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.itemId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.itemId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.itemId">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
